@import "../../theme/variables/variables"

.tag
  padding: scale(0) scale(3)
  border-radius: 50px
  background-color: $light-bg-color
  text-align: center
  white-space: nowrap
  @include small-text
