@import "../../theme/variables/variables"

.swiper
  min-height: 530px
  +big-mobile
    min-height: 600px
  +tablet
    min-height: 700px

.pagination
  margin-top: scale(1)
  bottom: 0
  color: $greenA700
  +tablet
    display: none

.navigation
  display: none
  +tablet
    display: flex
    color: $greenA700
    border: 3px solid $greenA700
    padding: 10px
    border-radius: 50%
    width: 50px
    height: 50px

.projects

  .title
    @include title
    font-weight: $bold
    margin-bottom: scale(10)

    +tablet
      margin-bottom: scale(12)


.project
  max-width: scale(20)

  .title
    @include important-text
    margin-bottom: scale(5)
  
  .excerpt
    @include usual-text
    margin-bottom: scale(5)

  .technoList
    display: flex
    flex-wrap: wrap
    margin-bottom: scale(3)

    .technoItem
      margin: 0 scale(1) scale(1) 0
