@import "../../theme/variables/variables"

\:root
  --swiper-pagination-color: #{$greenA700}
  --swiper-theme-color: #{$greenA700}

.projectsSection
  background: $reverse-gradient-bg

.swiperContainer
  position: relative

.swiper
  min-height: 530px
  +big-mobile
    min-height: 600px
  +tablet
    min-height: 700px

.title
  @include title
  font-weight: $bold
  margin-bottom: scale(10)
  +tablet
    margin-bottom: scale(10)
  +desktop
    margin-bottom: scale(12)

.projectCard
  max-width: scale(20)

.overlay
  opacity: 0
  background-color: hsla(0, 0, 0, 0.7)
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 1000
  pointer-events: none
  transition: opacity 0.1s ease-in-out 0.3s
  
  &Visible
    content: ''
    opacity: 1
    pointer-events: auto
    cursor: pointer

.closeButton
  position: absolute
  right: scale(3)
  top: scale(3)
  width: scale(10)
  height: scale(10)
  border: none
  background-color: transparent
  z-index: 1
  cursor: pointer
  transition: transform 0.1s ease-in-out 
  color: $light-bg-color
  font-weight: $bold
  @include small-text
  +tablet
    width: scale(12)
    height: scale(12)

  &:hover
    transform: scale3d(1.2, 1.2, 1)
