@import "../../theme/variables/variables"

.gradientOrangeButton
  @include usual-text
  display: block;
  border-radius: $button-border-radius
  border: $button-border-width solid $dark-body-color
  color: $dark-body-color
  padding: scale(5) scale(10)
  text-transform: uppercase
  font-weight: $bold
  font-family: $font-family
  cursor: pointer
  background: $gradient-orange-button
  text-decoration: none;
  box-shadow: $big-shadow
  transition: 0.15s transform ease-in-out, 0.15s box-shadow ease-in-out
  text-align: center
  max-width: 300px
  margin: 0 auto

  &:hover,
  &:focus-within
    transform: translate(10px, 10px)
    box-shadow: $small-shadow

  +tablet
    display: inline-flex

.gradientGreenButton
  @include usual-text
  display: inline-flex;
  border-radius: $button-border-radius
  border: $button-border-width solid $dark-body-color
  color: $dark-body-color
  padding: scale(5) scale(8)
  font-weight: $bold
  font-family: $font-family
  cursor: pointer
  background: $gradient-green-button
  text-decoration: none;
  box-shadow: $small-shadow
  transition: 0.15s transform ease-in-out, 0.15s box-shadow ease-in-out
  text-align: center
  justify-content: center
  min-width: 120px

  &:hover,
  &:focus-within
    transform: translate(10px, 10px)
    box-shadow: $no-shadow

.ghostOrangeButton
  @include usual-text
  width: 100%
  font-weight: $bold
  font-family: $font-family
  background-color: transparent
  border-radius: $button-border-radius
  border: $button-border-width solid $yellow-tag-color
  color: $yellow-tag-color
  padding: scale(4)
  cursor: pointer
  transition: 0.5s background-color ease-in-out
  text-decoration: none
  text-align: center

  &:hover,
  &:focus-within
    background-color: $yellow-tag-bg

.ghostGreenButton
  @include usual-text
  width: 100%
  font-weight: $bold
  font-family: $font-family
  background-color: transparent
  border-radius: $button-border-radius
  border: $button-border-width solid $green-tag-color
  color: $green-tag-color
  padding: scale(4)
  cursor: pointer
  transition: 0.5s background-color ease-in-out
  text-decoration: none
  text-align: center

  &:hover,
  &:focus-within
    background-color: $green-tag-bg