@import "../../theme/variables/variables"

.mediumButton
  @include usual-text
  border-radius: 3px
  font-weight: $bold
  background-color: $greenA100
  border: none
  font-family: $font-family
  padding: scale(0) scale(2)
  cursor: pointer

.largeButton
  @include usual-text
  display: block
  width: 100%
  border-radius: 3px
  font-weight: $bold
  background-color: $greenA100
  border: none
  font-family: $font-family
  padding: scale(4) scale(4)
  cursor: pointer