@import "../../theme/variables/variables"

// TODO: use typo mixin instead

.hero
  min-height: 100vh

  .promise
    line-height: 1.2
    font-weight: $bold
    font-size: size(4)
    margin-top: scale(7)
    +tablet
      margin-top: scale(15)
      font-size: size(6)
      padding: scale(6) 0
    +desktop
      font-size: size(7)
    +widescreen
      font-size: size(8)
    
  .subtitle
    line-height: 1.4
    font-size: size(2)
    margin: scale(8) 0 scale(2) 0
    +tablet
      font-size: size(3)
    +desktop
      font-size: size(4)
    +widescreen
      font-size: size(5)
