@import "../../theme/variables/variables"

.heroWrapper
  position: relative

  .hero
    display: flex
    padding-bottom: scale(15)
    max-width: 100%
    +desktop
      width: 40%

    .promise
      line-height: 1.2
      font-weight: $bold
      font-size: size(4)
      margin-top: scale(7)
      +tablet
        margin-top: scale(15)
        font-size: size(6)
        padding: scale(6) 0
      +desktop
        font-size: size(7)
      +widescreen
        font-size: size(8)
      
    .subtitle
      line-height: 1.4
      font-size: size(1)
      margin: scale(8) 0 scale(11) 0
      text-shadow: 0 0 $light-bg-color
      +big-mobile
        font-weight: $bold
      +tablet
        font-size: size(2)
      +desktop
        font-size: size(3)
        font-weight: normal
      +widescreen
        font-size: size(4)

    .cta
      display: none
      +tablet
        display: inline-flex

  .imageWrapper
    position: absolute
    bottom: 0
    right: 0
    z-index: -1
    margin-top: scale(7)
    max-height: 500px
    width: 100%
    max-width: 800px
    @media screen and (min-width: 470px)
      opacity: 0.3
    +tablet
      top: 0
      margin-top: scale(15)
    +widescreen
      bottom: auto
      opacity: 1
      max-width: calc(50% - #{scale(14)})

  .smallLogo
    display: none
    +desktop
      display: block
      position: absolute
      z-index: 1
      top: 0
      left: 0
      animation: floating 2s ease-in-out infinite both
      box-shadow: $small-shadow
