@import '../../theme/variables/variables';

.mainContainer
  transform: translate3d(0px, 0, 0)
  transition: transform 0.2s ease-in-out
  +tablet
    flex: 1
    overflow: hidden

.section
  padding: 0 scale(4)
  +big-mobile
    padding: 0 scale(8)
  +desktop
    padding: 0 scale(14)
  +big-desktop
    padding: 0 scale(16)
  +widescreen
    padding: 0 scale(18)

.fullWidthSection
  padding: 0
  margin: 0
