@import "../../theme/variables/variables";

.about
  background: $gradient-bg
  content-visibility: auto

  .title
    @include title
    font-weight: $bold
    margin-bottom: scale(10)
    +tablet
      margin-bottom: scale(10)
    +desktop
      margin-bottom: scale(12)

  .photo
    display: block
    border-radius: 50%
    margin: 0 auto scale(8) auto
    max-width: 200px
    +tablet
      margin: 0 auto scale(10) auto
      max-width: 300px

  .sectionImage
    flex: 1
    border-radius: 30px

  .intro
    @include highlighted-text
    margin-bottom: scale(6)
    +tablet
      margin-bottom: scale(10)
  
  .companiesBloc
    display: flex
    margin-bottom: scale(6)
    +tablet
      margin-bottom: scale(8)

    .companiesText
      @include usual-text
      +tablet
        display: flex
        align-items: center
        flex-basis: 50%
        padding-right: scale(5)

        & p
          padding-right: scale(5)

  .technosBloc
    display: flex
    margin-bottom: scale(6)
    +tablet
      margin-bottom: scale(10)

    .technosText
      @include usual-text
      +tablet
        display: flex
        align-items: center
        flex-basis: 50%
        margin-left: auto
        padding-left: scale(5)
        & p
          padding-left: scale(5)

  .collaborationText
    @include highlighted-text
    margin-bottom: scale(6)
  
  .collaborations
    display: flex
    padding-bottom: scale(6)
    +tablet
      padding-bottom: scale(10)

    .image
      +tablet
        flex-basis: 40%

    .collaborationImage
      height: scale(14)
      margin-bottom: scale(1)

    .collaborationList
      +tablet
        display: flex
        flex-wrap: wrap
        justify-content: space-between
      .collaborationListItem
        +tablet
          width: 30%

        .collaborationTitle
          @include usual-text
          font-weight: $bold
          margin-bottom: scale(1)

        .collaborationDescription
          @include usual-text
          margin-bottom: scale(10)
