@import "../../theme/variables/variables"

.footer
  background-color: $alternate-bg-color
  padding-bottom: 100px
  display: flex
  flex-direction: column
  +tablet
    flex-direction: row-reverse

  .footerLinks
    display: flex
    flex-flow: column nowrap
    align-items: center
    padding-bottom: scale(7)
    +tablet
      width: 50%
      flex-basis: 50%
      padding-bottom: 0
      padding-left: scale(10)
      align-items: flex-start
    +desktop
      padding-left: scale(13)

    .footerLinkContainer
      margin: scale(4) 0
      +tablet
        margin: 0 0 scale(7) 0
      &:focus-visible
        outline: auto

    .footerLink
      @include usual-text
      font-family: $font-family
      text-decoration: none
      background-color: transparent
      border: none
      cursor: pointer
      font-weight: $bold
      color: $dark-body-color
      padding: scale(2)
      outline: none

      &:hover

