$tealA100: hsl(166, 100%, 83%)
$tealA700: hsl(172, 100%, 37%)

$greenA100: hsl(137, 77%, 85%)
$greenA400: hsl(151, 100%, 45%)
$greenA700: hsl(145, 100%, 39%)

$greenText: hsl(151, 71%, 26%)


$lightGreenA100: hsl(88, 100%, 78%)

$amber500: hsl(45, 100%, 51%)
$amber600: hsl(42, 100%, 50%)
$amber900: hsl(26, 100%, 50%)


$bg-color: hsl(45, 100%, 98%)
$alternate-bg-color: hsl(166, 100%, 94%)
$light-bg-color: hsl(55, 100%, 99%)

$gradient-bg: linear-gradient(180deg, $alternate-bg-color, $bg-color)
$reverse-gradient-bg: linear-gradient(180deg, $bg-color, $alternate-bg-color)

$gradient-orange-button: linear-gradient(180deg, hsl(43, 94%, 45%), hsl(20, 82%, 59%))
$gradient-green-button: linear-gradient(180deg, hsl(151, 71%, 89%), hsl(172, 84%, 67%))

$active-color: $tealA100
$border-color: hsl(155, 54%, 89%)

$shadow-color: hsla(155, 68%, 7%, 0.3)

$dark-body-color: hsl(151, 0%, 7%)
$base-body-color: hsl(151, 0%, 27%)
$light-body-color: hsl(151, 0%, 47%)

$chair-color: hsl(26, 49%, 59%)

$logoLightGreen: hsl(88, 68%, 71%)

$yellow-tag-color: hsl(20, 80%, 40%)
$yellow-tag-bg: hsl(43, 76%, 94%)

$orange-tag-color: hsl(20, 82%, 41%)
$orange-tag-bg: hsl(20, 66%, 96%)

$green-tag-color: hsl(172, 33%, 35%)
$green-tag-bg: hsl(153, 68%, 95%)