$bg-color: hsl(155, 46%, 100%)
$light-bg-color: hsl(56, 100%, 94%)
$active-color: hsl(151, 88%, 82%)
$border-color: hsl(155, 54%, 89%)

$shadow-color: hsla(155, 68%, 7%, 0.3)

$dark-body-color: hsl(151, 0%, 7%)
$base-body-color: hsl(151, 0%, 27%)
$light-body-color: hsl(151, 0%, 47%)
