@import "../../theme/variables/variables"

@keyframes desktopMenuEntrance
  0%
    opacity: 0
    transform: translateY(-20px)

  100%
    opacity: 1
    transform: translateY(0)
    

.logo
  display: flex
  @include important-text
  text-decoration: none
  align-items: center
  color: $base-body-color
  font-weight: $bold

  &Text
    padding-left: scale(2)

.menu
  display: flex

  a
    text-decoration: none
    color: $dark-body-color
    font-weight: $bold
    @include highlighted-text
    margin: 0 scale(3)
    +tablet
      margin: 0 scale(4)

nav.navbar
  display: flex
  align-items: center
  padding-top: scale(4)
  padding-bottom: scale(4)

  +tablet
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: $navbar-z-index

  .highlighted
    background-color: hsl(55, 100%, 100%)
    box-shadow: 0 0 scale(0) 0 $shadow-color

  .menu
    display: none
    +tablet
      opacity: 0
      animation: desktopMenuEntrance 0.3s ease-in-out 0.2s forwards
      display: flex
      margin-left: auto

nav.bottomNav
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding: scale(4)
  border-top: 1px solid $border-color
  background-color: white
  z-index: $navbar-z-index
  box-shadow: 0 0 scale(0) 0 $shadow-color

  +tablet
    display: none

  .menu
    justify-content: center
    align-items: center

.highlighted
  transition: 0.3s background-color ease, 0.3s box-shadow ease
  background-color: $light-bg-color
  box-shadow: 0 0 scale(0) 0 $shadow-color

@keyframes strike
  1%
    left: 0
    width: 0%

  50%
    left: 0
    width: 100%
    height: 3px
  
  100%
    left: 0
    width: 100%
    height: 50%

@keyframes fadeStrike
  0%
    left: 0
    width: 100%
    height: 50%
  
  50%
    left: 0
    width: 100%
    height: 3px
    
  100%
    left: 100%
    width: 0px
    height: 3px

.navbarItem
  position: relative

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0px
    width: 0%
    z-index: -1
    height: 50%
    background-color: $amber500
    animation: fadeStrike 0.15s ease-in-out forwards


.currentNavbarItem
  position: relative

  &::before
    content: ''
    position: absolute
    top: 50%
    width: 0%
    z-index: -1
    height: 3px
    background-color: $amber500
    animation: strike 0.35s ease-in-out 0.1s forwards
  